/* Estilos generales */
body {
    
    margin: 0;
    padding: 0;
    color: #f3f6f8;
    font-family: 'Lora', serif;
    font-size: 20px;
}

header {
    margin: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5d1818;
    color: #fff;
    padding: 1em;
}

header .logo img {
    width: 100px;
    height: 100px;
    margin: 0 40px;
}

header div img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

header h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}

nav ul {
    
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 5em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;

}

main {
    background: linear-gradient(135deg, #4b1d0a, #ec5050); 
    color: #ffffff;
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(121, 21, 21, 0.1);
}

main h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

main p {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    line-height: 2;
    text-align: justify;
    padding: 25px; 
}


section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background: linear-gradient(135deg, #5d1818, #3023ae); 
    color: #5d1818; 
    border-radius: 20px;
    padding: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: calc(33% - 2em); 
    margin: 1em; 
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2 {
    margin-bottom: 0.5em;
    font-family: 'Bebas Neue', sans-serif; /* Usar una fuente atractiva para los títulos */
    color: #ffffff;
}

.card p {
    font-family: 'Merriweather', serif;
    color: #ffffff;
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 100px;
    border: 5px solid #fff;

}

footer {
    background-color: #5d1818;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    
}



/* Estilos para laptop (1024px y superiores) */
@media (min-width: 1024px) {
    .container {
        width: 80%;
    }

    header, footer {
        padding: 2em 0;
    }

    main {
        padding: 2em 0;
    }
}

/* Estilos para tablet (768px a 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 85%;
    }

    header, footer {
        padding: 1.5em 0;
    }

    main {
        padding: 1.5em 0;
    }

    .card {
        width: calc(50% - 2em);
    }
}

/* Estilos para móvil (hasta 767px) */
@media (max-width: 767px) {
    .container {
        width: 95%;
    }

    header, footer {
        padding: 1em 0;
    }

    main {
        padding: 1em 0;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 0.5em 0;
    }

    .card {
        width: calc(100% - 2em);
    }
}
